main {
    width: 100vw;
    height: 100vh;
    background-color: rgb(214, 214, 214);
}

header {
    background-color: rgb(246, 246, 246);

}

h1 {
    color: rgb(38, 165, 175);


}

form {
    margin: 3%;
}

.links {
    background-color: rgb(63, 63, 63);
}